* {
    font-family: 'Bungee', sans-serif;
    margin: 0;
}

@font-face {
    font-family: Avalon;
    src: url(./font/Avalon.ttf);
}

body{
    background-color: #4A4E69;
    color: #4A4E69;
    margin-left: 6vw;
    margin-right: 6vw;
}

li{
    list-style-type: none; 
}

ul{
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    cursor: pointer;
}

/* nav */

.nav{
    margin-top: 4vw;
}

.nav-jouer{
    font-size: 2vw;
}

.nav-autre{
    font-size: 0.9vw;
    margin-top: 2vw;
}

.nav-quitter{
    font-size: 0.9vw;
    margin-top: 2vw;
}

.nouvelle-partie, .continuer, .quitter,.options , .crédits , .accesibilité{
    transition: 0.3s ease;
}

.nouvelle-partie:hover, .continuer:hover, .quitter:hover{
    color: #3A86FF;
}

.options:hover, .crédits:hover , .accesibilité:hover{
    color: rgba(215, 215, 215, 0.514);
}

/* header */

.title{
    margin-top: 5vw;
    display: flex;
    align-items: baseline;
    color: #fff;
}

.title-nom{
    font-family: Avalon;
    font-size: 7vw;
    font-weight: 400;
}

.title-version{
    font-family: Avalon;
    font-size: 3vw;
    color: #3A86FF;
}

.alpha{
    position: absolute;
    top: 35px;
    left: -45px;
    rotate: -45deg;
    color: #fff;
    background-color: #D93C3C;
    width: 200px;
    text-align: center;
    box-shadow: 0px 12px 22.5px 0px rgba(0, 0, 0, 0.25);
}

/* section 1 */

.news{
    position: absolute;
    background-color: #fff;
    width: 17vw;
    height: 21vw;
    border-radius: 20px;
    top: 35%;
    right: 6vw;
    box-shadow: 0px 12px 22.5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-title{
    font-size: 0.9vw;
    margin-top: 0.5vw;
    width: 14vw;
}

.news-img{
    width: 14vw;
}

.news-title__description{
    font-size: 0.7vw;
    margin-top: 0.4vw;
    line-height: 1.3VW;
    width: 14vw;
}

.news-description{
    font-size: 0.7vw;
    margin-top: 0.4vw;
    line-height: 1.3VW;
    width: 14vw;
    font-family: 'Roboto', sans-serif;
}

.news-link{
    font-size: 0.7vw;
    margin-top: 1vw;
    line-height: 1.3VW;
    width: 14vw;
    color: #3A86FF;
    transition: 0.3s ease;
}

.news-link:hover{
    color: #4A4E69;
    cursor: pointer;
}

/* hover */

.hover-screen{
    z-index: 1000;
    background-color: #4A4E69;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hover-screen__title{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: absolute;
    top: 10%;
}

.hover-screen__title-nom{
    font-family: Avalon;
    font-size: 7vw;
    font-weight: 400;
}

.hover-screen__title-version{
    font-family: Avalon;
    font-size: 3vw;
    color: #3A86FF ;
}

.hover-screen-experimental{
    font-size: 3vw;
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: absolute;
    top: 20%;
}

.hover-screen-cliquez{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 1.3vw;
    position: absolute;
    width: 80%;
    bottom: 13%;
    overflow: hidden;
}

/* loader */

#loader-snipe{
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4A4E69;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader {
    width: 8vw;
    height: 8vw;
    border: 10px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 2s linear infinite;
  }
  .loader:after {
    content: '';
    position: absolute;
    width: 8vw;
    height: 8vw;
    border: 11px solid #3A86FF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 2s linear infinite;
  }
  
  @keyframes scaleUp {
    0% { transform: translate(-50%, -50%) scale(0) }
    60% , 100% { transform: translate(-50%, -50%)  scale(1)}
  }
  @keyframes pulse {
    0% , 60% , 100%{ transform:  scale(1) }
    80% { transform:  scale(1.2)}
  }

.tips{
    color: #FFF;
    position: absolute;
    bottom: 5vw;
    font-size: 1vw;
}

.loader-button__passer{
    position: absolute;
    top: 5vw;
    right: -10vw;
    font-size: 1.2vw;
    color: #fff;
    transition: 0.3s ease;
    background-color: #3A86FF;
    border: none;
    padding: 0vw 1.8vw;
    border-radius: 2vw;
    cursor: pointer;
    transition: 1s ease;
    
}

/* footer */

.footer-button {
    position: absolute;
    bottom: 0px;
    left: 20%;
    width: 9vw;
    font-size: 0.5vw;
    background-color: #3A86FF;
    color: #fff;
    border: 0px;
    border-radius: 10px 10px 0px 00px;
    padding: 5px 10px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    font-size: 0.6vw;
}

.footer-button__img {
    width: 1vw;
}