* {
    font-family: 'Bungee', sans-serif;
    margin: 0;
}

@font-face {
    font-family: Avalon;
    src: url(/font/Avalon.ttf);
}

body {
    color: #fff;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #4A4E69;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3A86FF;
    border-radius: 10px;
    height: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3a85ffbf;
  }

/* main */

.container {
    display: flex;
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 99vh;
}

.container-title{
    position: fixed;
    font-size: 6vw;
    font-weight: 400;
    top : 5vw;
    left: 4vw;
    color: #4A4E69;
    font-family: Avalon;
}

.container-chronologie{
    width: 130vw;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-around;
}

.container-chronologie__card0,
.container-chronologie__card1,
.container-chronologie__card2,
.container-chronologie__card3 {
    background-color:#4A4E69;
    width: 22vw;
    height: 15vw;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 1vw;
    box-shadow: #4a4e696f 0px 3px 25px;
}

.container-chronologie-card__date-text{
    font-size: 1.5vw;
    margin-bottom:1vw;
    line-height: 1.5vw;
}

.container-chronologie-card__date-img{
    width: 9vw;
    height: 9vw;
}

.scroll-icon{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4vw;
    cursor: pointer;
    z-index: 2000;
    width: auto;
    height: 5vw;
}