* {
    font-family: 'Bungee', sans-serif;
    margin: 0;
}

@font-face {
    font-family: Avalon;
    src: url(/font/Avalon.ttf);
}

body {
    background-color: black;
}

footer {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #181919;
    border-radius: 10px;
    height: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3a85ffbf;
}

.nav-button,
.inventaire-button,
#cadreCarte,
#buttonCarte,
#cadreInventaire::after {
    background-color: #121319 !important;
}

.container {
    position: fixed;
    left: 50%;
    margin-top: 10vw;
    transform: translateX(-50%);
    text-align: center;
    top: 0;
    padding: 2vw 5vw;
    border-radius: 1vw;
    background-color: #15161d;
    z-index: 2001;
}

.container-sub-title {
    font-size: 1vw;
    font-weight: 400;
    font-style: italic;
}

.container-title {
    font-size: 2vw;
    font-weight: 400;
}

.parchemin__description-container {
    position: absolute;
    left: -30vw;
    text-align: center;
    top: -10vw;
    padding: 1.5vw 2vw;
    width: 24vw;
    border-radius: 1vw;
    background-color: #4a4e6946;
}

.parchemin__description {
    font-size: 1.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #2c1b42;
}

.hall__lampe {
    position: absolute;
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: #000000;
    border-radius: 1px;
}

.hall-de-la-mort {
    width: 1000vw;
    height: 1000vh;
    position: relative;
}

.hall-container {
    position: absolute;
    bottom: 0;
    left: 0;
}
.hall__portail-1{
    position: absolute;
    bottom: 0;
    left: 30vw;
    width: 20vw;
}

#lampe1{
    position: absolute;
    bottom: 0;
    left: 51vw;
    cursor: pointer;
    z-index: 1001;
}

.container-hall__parchemin1{
    position: absolute;
    bottom: 5vw;
    left: 30.5vw;
    width: 4vw;
    height: 8vh;
    cursor: pointer;
    z-index: 1000;
}

.hall__parchemin{
    height: 100%;
    width: 100%;
}

.container-hall__parchemin2{
    position: absolute;
    bottom: 258vw;
    left: 137vw;
    width: 6vw;
    height: 10vh;
    cursor: pointer;
    z-index: 1000;
    rotate: 10deg;
}

#lampe2{
    position: absolute;
    bottom: 255vw;
    left: 134vw;
    z-index: 1001;
    cursor: pointer;
}

.ecriture{
    font-size: 2vw;
    text-align: right;
    color: #030303;
    width: 50vw;
    position: absolute;
    bottom: 247vw;
    left: 80vw;
}

.container-hall__parchemin3{
    position: absolute;
    bottom: 358vw;
    left: 437vw;
    width: 6vw;
    height: 10vh;
    cursor: pointer;
    z-index: 1500;
    rotate: 5deg;
}

.hall__symbole{
    position: absolute;
    bottom: 355vw;
    left: 434vw;
}

#lampe3{
    position: absolute;
    bottom: 365vw;
    left: 447vw;
    z-index: 1001;
    cursor: pointer;
}

.container-hall__parchemin4{
    position: absolute;
    bottom: 463vw;
    left: 134vw;
    width: 6vw;
    height: -5vh;
    cursor: pointer;
    z-index: 1000;
    rotate: 10deg;
}

.faille{
    position: absolute;
    bottom: 455vw;
    left: 134vw;
}

#lampe4{
    position: absolute;
    bottom: 472vw;
    left: 144vw;
    z-index: 1001;
    cursor: pointer;
}

.container-hall__parchemin5{
    position: absolute;
    bottom: 358vw;
    left: 737vw;
    width: 6vw;
    height: 10vh;
    cursor: pointer;
    z-index: 1500;
    rotate: 5deg;
}

#lampe5{
    position: absolute;
    bottom: 365vw;
    left: 747vw;
    z-index: 1001;
    cursor: pointer;
}

.container-hall__parchemin6{
    position: absolute;
    top: 33vw;
    left: 37vw;
    width: 6vw;
    height: 10vh;
    cursor: pointer;
    z-index: 1500;
    rotate: 5deg;
}

#lampe6{
    position: absolute;
    top: 36vw;
    left: 47vw;
    z-index: 1001;
    cursor: pointer;
}

.hall__portail-2{
    position: absolute;
    top: 5vw;
    right: 32vw;
    width: 20vw;
}

#lampe7{
    position: absolute;
    top: 21.5vw;
    right: 55vw;
    z-index: 1001;
    cursor: pointer;
}

.ecriture-sang{
    font-size: 1vw;
    text-align: center;
    color: #3f0a0a;
    opacity: 36%;
    width: 40vw;
    position: absolute;
    top: 14vw;
    right: 60vw;
    rotate: -10deg;
}