* {
    font-family: 'Bungee', sans-serif;
    margin: 0;
}

@font-face {
    font-family: Avalon;
    src: url(/font/Avalon.ttf);
}

body{
    background-color: #4A4E69;
    color: #fff;
    margin-left: 6vw;
    margin-right: 6vw;
}

/* main */

.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.container-title{
    position: absolute;
    font-size: 5vw;
    font-weight: 400;
    top : 8vw;
    right: 5vw;
    font-family: Avalon;
}

.container-paragraphe{
    position: absolute;
    font-size: 1.4vw;
    font-weight: 400;
    top : 23vw;
    right: 5vw;
    line-height: 1.5vw;
    font-family: 'Roboto', sans-serif;
}