* {
    font-family: 'Bungee', sans-serif;
    margin: 0;
}

@font-face {
    font-family: Avalon;
    src: url(/font/Avalon.ttf);
}

body {
    color: #fff;
    /* overflow: hidden; */
}

/* skills-menu */

.skills-menu {
    height: 90vh;
    width: 80vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.skills-menu__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4A4E69;
    height: 10vh;
    width: 100%;
    border-radius: 2vw
}

.skills-menu-name {
    font-size: 2.3vw;
    font-family: 'Avalon', sans-serif;
    text-transform: uppercase;
}

.skills-menu-name__previous,
.skills-menu-name__next {
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 0%;
    border: none;
    outline: none;
    margin: 0;
    transition: transform 0.3s;
}

.skills-menu-name__previous:hover,
.skills-menu-name__next:hover {
    transform: scale(1.2);
}

.previous__img,
.next__img {
    width: 3vw;
    height: 3vw;
}

.previous__img {
    transform: rotate(180deg);
}


/* skill-card */

.skill,
.skill-passive,
.skill-passive-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A86FF;
    padding: 1vw;
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    position: relative;
    box-shadow: #333333 0 0 0.5vw;
    transition: transform 0.3s;
}

.skill:hover,
.skill-passive:hover,
.skill-passive-link:hover {
    transform: scale(1.1);
    box-shadow: #333333 0 0 1vw;
}

.skill {
    border-radius: 1vw;
}

.skill-passive {
    border-radius: 100%;
    border: #fff solid 0.2vw;
}


.skill__description-container{
    position: absolute;
    left: -16vw;
    top: 0;
    background-color: #292a319b;
    border-radius: 1vw;
    padding: 1vw;
    width: 13vw;
}

.skill__title{
    font-size: 1.2vw;
    height: 400;
}

.skill__level{
    font-size: 1vw;
    font-style: italic;
    font-weight: 400;
}

.skill__description{
    font-size: 0.8vw;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 400;
}

/* skills-container */

.skills-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
}

/* skills-container__left */

.skills-container__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 35%;
}

.skills-passive-container,
.bonus-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #4A4E69;
    border-radius: 2vw;
    flex-direction: column;
}

.bonus-container {
    height: 65%;
}

.skills-passive-container {
    height: 30%;
}

.skill-passive-skills-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly
}

.bonus-container__name,
.skills-passive-container__name,
.skills-container__name {
    font-size: 1.5vw;
    line-height: 1vw;
}

.bonus-container__bonus {
    margin-left: 2.5vw;
    margin-right: 2.5vw;

}

.bonus__name {
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-size: 1.5vw;
    font-weight: 800;
    margin-bottom: 1vw;
    position: relative;
}

.bonus__name::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 0.2vw;
    background-color: #ffffff5e;
    bottom: -0.3vw;
    left: 0;
    border-radius: 3px;
}

.bonus__description {
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 400;
}

/* skills-container__right */

.skills-container__right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #4A4E69;
    width: 45vw;
    height: 100%;
    border-radius: 2vw;
}

.skills-container__all {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45vw;
    height: 45vh;
}

.skills-container-all__html,
.skills-container-all__js,
.skills-container-all__css {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 40vh;
}

.skill-passive-link {
    border-radius: 100%;
    border: #fff solid 0.2vw;
    margin-bottom: 1vw;
}

.skill-passive__link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.skill__img{
    width: 100%;
    height: 100%;
}

/* entree */

.entree{
    position: absolute;
    top: 2vw;
    right: 2vw;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}

.entree-link__img{
    width: 100%;
    height: 100%;
}